@namespace Pure.Blazor.Components
@inherits PureComponent

<ul class="flex flex-row flex-wrap sm:flex-col py-4 w-full gap-0.5 @Styles">
    @RenderTopLevel(("Overview", "/components"))
    <li class="pb-0.5 pt-3 font-semibold text-gray-800 hidden sm:block">Getting Started</li>
    @RenderTopLevel(("Installation", "/components/getting-started"))
    @RenderTopLevel(("Theme Customization", "/components/getting-started/customizing-the-theme"))
    <li class="pt-3 pb-0.5 font-semibold text-gray-800 hidden sm:block">Components</li>
    @RenderTopLevel(("Alerts", "/components/alerts"))
    @RenderTopLevel(("Badges", "/components/badges"))
    @RenderTopLevel(("Banners", "/components/banners"))
    <li class="" @key="0">
        <PureNavLink href="/components/buttons"
                     ActiveClass="px-2 py-0.5 inline-block text-brand-700 hover:text-brand-900 antialiased font-bold font-sans leading-6 rounded-md bg-transparent"
                     InactiveClass="px-2 py-0.5 inline-block text-slate-700 hover:text-brand-900 antialiased font-medium font-sans leading-6 rounded-md bg-transparent">
            Buttons
        </PureNavLink>
        <ul class="pl-4 hidden sm:block">

            <li class="px-2 py-1 text-sm hover:text-brand-900">
                <PureNavLink Match="NavLinkMatch.All" ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/overview">Overview</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/default">Default Variant</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/outline">Outline Variant</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/subtle">Subtle Variant</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/theme">Customized Theme</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/styles">Ad-Hoc Styles</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/state">Button States</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/icons">Buttons with Icons</PureNavLink>
            </li>
            <li class="px-2 py-1 text-sm">
                <PureNavLink ActiveClass="font-bold text-brand-700" InactiveClass="hover:text-brand-800" href="/components/buttons/headless">Headless Button</PureNavLink>
            </li>
        </ul>
    </li>
    @RenderTopLevel(("Cards", "/components/cards"))
    @RenderTopLevel(("Dialog", "/components/dialog"))
    @RenderTopLevel(("Dropdown", "/components/dropdowns"))
    @RenderTopLevel(("Flyout", "/components/flyout"))
    @RenderTopLevel(("Inputs", "/components/inputs"))
    @RenderTopLevel(("Icons", "/components/icons"))
    @RenderTopLevel(("Radio Buttons", "/components/radio"))
    @RenderTopLevel(("Tabs", "/components/tabs"))
</ul>

@code {

    private RenderFragment<(string title, string href)> RenderTopLevel => data
        => @<li class="">
               <PureNavLink href="@data.href"
                            Match="NavLinkMatch.All"
                            ActiveClass="px-2 py-0.5 inline-block text-brand-700 hover:text-brand-900 antialiased font-medium font-sans leading-6 rounded-md bg-transparent"
                            InactiveClass="px-2 py-0.5 inline-block text-slate-700 hover:text-brand-900 antialiased font-medium font-sans leading-6 rounded-md bg-transparent">
                   @data.title
    </PureNavLink>
    </li>;

}
