@if (PureRadioGroupDefinition != null)
{
    <fieldset>
        @foreach (var option in PureRadioGroupDefinition)
        {
            <div class="mt-2 space-y-4">
                <div class="relative flex items-start">
                    <div class="absolute flex h-6 items-center">
                        <input id="@option.Name" name="opt" value="@option.Name"
                               @onchange="OnSelected"
                               type="radio" class="h-4 w-4 border-gray-300 text-brand-600 focus:ring-brand-600" checked="@option.IsChecked" />
                    </div>
                    <div class="pl-7 text-sm leading-6">
                        <p>
                            <label for="@option.Name" class="text-base text-gray-800 dark:text-gray-50">@option.Title</label>
                        </p>
                        @if (@option.Description != @String.Empty)
                        {
                            <span class="font-medium text-sm text-gray-500 font-mono dark:text-gray-400">@option.Description</span>
                        }
                    </div>
                </div>
            </div>
        }
    </fieldset>
}

@code {
    [Parameter]
    public List<PureRadioGroupDefinition> PureRadioGroupDefinition { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    void OnSelected(ChangeEventArgs args)
    {
        OnClick.InvokeAsync(args.Value!.ToString()!);
    }
}