@namespace Pure.Blazor.Components
@inherits PureComponent

<div class="@ApplyStyle("mt-1 flex items-center gap-x-1.5")">
    <p class="text-sm leading-6 text-gray-900">@Title</p>
    <div class="flex-none rounded-full p-1 @backgroundStatusColor">
        <div class="h-1.5 w-1.5 rounded-full @foregroundStatusColor"></div>
    </div>
    <p class="text-xs leading-5 text-gray-800">@Status</p>
</div>

@code {
    [Parameter] public string? Title { get; set; }

    [Parameter] public string? Status { get; set; }

    [Parameter] public Accent Accent { get; set; }

    [Parameter] public string? Value { get; set; }

    private string foregroundStatusColor = "";
    private string backgroundStatusColor = "";


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        BuildCss();
    }

    protected override void BuildCss()
    {
        foregroundStatusColor = Css.InnerContainer?.Accent(Accent) ?? "";
        backgroundStatusColor = Css?.InnerContainer?.OuterContainer?.Accent(Accent) ?? "";
    }

}
