@inherits PureButtonBase

@if (Loading)
{
    <button
        type="button"
        @attributes="InputAttributes"
        name="@Name"
        class="@InternalCss @Styles">
        <PureIcon Type="IconOpenCircle" Animate="PureAnimate.Spin" Size="PureSize.Small"></PureIcon>
        @if (LoadingText is not null)
        {
            @LoadingText
        }
        else
        {
            if (ChildContent is not null)
            {
                @ChildContent
            }
            else
            {
                @Text
            }
        }

    </button>
}
else
{
    <button
        @attributes="InputAttributes"
        name="@Name"
        class="@InternalCss @Styles"
        disabled="@Disabled"
        @onclick="OnClicked">
        @if (LeftIcon is not null)
        {
            <PureIcon Type="(PureIcons)LeftIcon" Size="Size"/>
        }
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            @Text
        }
        @if (RightIcon is not null)
        {
            <PureIcon Type="(PureIcons)RightIcon" Size="Size"/>
        }
    </button>
}
