@inherits PureComponent
@namespace Pure.Blazor.Components

@if (Variant is null or ButtonVariant.Subtle)
{
    <a class="@AccessibilityStyles @ApplyStyle(PureTheme.Link.Base) @Styles" href="@Href" target="@GetTarget()">@ChildContent</a>
}
else
{
    <a class="@ApplyStyle(InternalCss) @Styles"
       href="@Href" target="@GetTarget()">
        @ChildContent
    </a>
}

@code {

    [Obsolete("Use Href instead of Url")]
    [Parameter]
    public string? Url
    {
        get => Href;
        set => Href = value;
    }

    [Parameter] public string? Href { get; set; }

    /// <summary>
    ///     Style the link as a button
    /// </summary>
    [Parameter]
    public ButtonVariant? Variant { get; set; }

    [Parameter] public Accent Accent { get; set; } = Brand;

    [Parameter] public LinkTarget Target { get; set; }

    // required styles for accessibility, not overridable
    // touch target should be at least 24px
    private string AccessibilityStyles => "inline-block py-1";
    private string InternalCss => $"{PureTheme.Button.Base} {PureTheme.Button.Variants[Variant ?? ButtonVariant.Default][Accent]} {PureTheme.Button.Sizes[PureSize.Medium]}";

    private string GetTarget()
    {
        return Target switch
        {
            LinkTarget.NewTab => "_blank",
            _ => "_self"
        };
    }

}
