@using Pure.Blazor.Components.Common
@inherits PureComponent
@namespace Pure.Blazor.Components

@if (Variant is null or ButtonVariant.Subtle)
{
    <a class="@ApplyStyle(PureStyles.Link.Base) @Styles" href="@Url" target="@GetTarget()">@ChildContent</a>
}
else
{
    <a class="@ApplyStyle(InternalCss) @Styles"
       href="@Url" target="@GetTarget()">
        @ChildContent
    </a>
}

@code {

    [Parameter] public string? Url { get; set; }

    /// <summary>
    /// Style the link as a button
    /// </summary>
    [Parameter]
    public ButtonVariant? Variant { get; set; }

    [Parameter] public LinkTarget Target { get; set; }

    private string InternalCss => $"{PureStyles.Button.Base} {PureStyles.Button.Variants[Variant ?? ButtonVariant.Default][Accent.Brand]} {PureStyles.Button.Sizes[PureSize.Medium]}";
    private string GetTarget()
    {
        return Target switch
        {
            LinkTarget.NewTab => "_blank",
            _ => "_self"
        };
    }

}
