@layout DocsLayout
@rendermode InteractiveWebAssembly
@page "/components/banners"
@attribute [PureBlazorPage("components-banners")]
<PageTitle>Banners - PureBlazor Components</PageTitle>

<Header1 Subtitle="Banners are used to display important information to the user. They typically contain a short message and an icon.">
    <ChildContent>
        Banners
    </ChildContent>
    <Suffix>
        <SupportedRenderModes Static="true" Wasm="true" Server="true"/>
    </Suffix>
</Header1>
<div class="mb-10 flex flex-col gap-8">
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            <Header2>Default Banners</Header2>
            <div class="flex flex-col items-baseline gap-2">
                <PureBanner Accent="Accent.Default" Styles="w-96">
                    This is a default banner.
                </PureBanner>
                <PureBanner Accent="Brand" Styles="w-96">
                    This is a branded banner.
                </PureBanner>
                <PureBanner Accent="Danger" Styles="w-96">
                    This is a dangerous banner!
                </PureBanner>
                <PureBanner Accent="Success" Styles="w-96">
                    This is a success banner.
                </PureBanner>
                <PureBanner Accent="Warning" Styles="w-96">
                    This is a warning banner.
                </PureBanner>
            </div>
        </div>
        <PureCode Language="@PureCode.Razor" Caption="Code Sample">
            @s
        </PureCode>
    </div>
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            <Header2>Outline Banners</Header2>
            <div class="flex flex-col items-baseline gap-2">
                <PureBanner Accent="Accent.Default" Variant="Outline" Styles="w-96">
                    This is a default banner.
                </PureBanner>
                <PureBanner Accent="Brand" Variant="Outline" Styles="w-96">
                    This is a branded banner.
                </PureBanner>
                <PureBanner Accent="Danger" Variant="Outline" Styles="w-96">
                    This is a dangerous banner!
                </PureBanner>
                <PureBanner Accent="Success" Variant="Outline" Styles="w-96">
                    This is a success banner.
                </PureBanner>
                <PureBanner Accent="Warning" Variant="Outline" Styles="w-96">
                    This is a warning banner.
                </PureBanner>
            </div>
        </div>
        <PureCode Language="@PureCode.Razor" Caption="Code Sample">
            @s2
        </PureCode>
    </div>
    <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-2">
            <Header2>Subtle Banners</Header2>
            <div class="flex flex-col items-baseline gap-2">
                <PureBanner Accent="Accent.Default" Variant="Subtle" Styles="w-96">
                    This is a default banner.
                </PureBanner>
                <PureBanner Accent="Brand" Variant="Subtle" Styles="w-96">
                    This is a branded banner.
                </PureBanner>
                <PureBanner Accent="Danger" Variant="Subtle" Styles="w-96">
                    This is a dangerous banner!
                </PureBanner>
                <PureBanner Accent="Success" Variant="Subtle" Styles="w-96">
                    This is a success banner.
                </PureBanner>
                <PureBanner Accent="Warning" Variant="Subtle" Styles="w-96">
                    This is a warning banner.
                </PureBanner>
            </div>
        </div>
        <PureCode Language="@PureCode.Razor" Caption="Code Sample">
            @s3
        </PureCode>
    </div>

    @* <PureCode Text="@Markup" Language="@PureCode.Razor" Caption="Example" Styles="my-4"/> *@
</div>
