@namespace Pure.Blazor.Components
@inherits PureComponent
<div class="flex flex-col @FlexMap.GetFlexDirection(Direction) @FlexMap.GetAlignContent(AlignContent) @FlexMap.GetJustifyContent(JustifyContent) @FlexMap.GetAlignItems(AlignItems) @ApplyStyle(Styles)">
    @ChildContent
</div>

@code {
    [Parameter] public FlexDirection Direction { get; set; }
    [Parameter] public FlexAlignContent AlignContent { get; set; }
    [Parameter] public FlexJustifyContent JustifyContent { get; set; }
    [Parameter] public FlexAlignItems AlignItems { get; set; }
}
