@page "/Components"

<div class="grid grid-cols-4 pt-10">
    <div class="hidden sm:block sm:col-span-1">
        <PureVertNav />
    </div>
    <div class="col-span-4 sm:col-span-3">
        <PureText Type="Typo.H4">Components</PureText>

        <div class="mb-10">
            <PureText Type="Typo.H1">H1. Typography</PureText>            
            <PureText Type="Typo.H2">H2. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.H3">H3. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.H4">H4. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.H5">H5. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.H6">H6. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.Caption">caption. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.Subtitle">Subtitle. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.Section">Section. The quick brown fox jumps over the lazy dog.</PureText>
            <PureText Type="Typo.Body">Body. The quick brown fox jumps over the lazy dog.</PureText>
            

            @* <PureText Text="@h1" Language="@PureCode.Html" Caption="Example" Css="my-4"/> *@
        </div>
    </div>
</div>

@code {

    private List<DropdownMenuItem> Items = new List<DropdownMenuItem>
    {
        new DropdownMenuItem { Text = "Menu item 1" },
        new DropdownMenuItem { Text = "Menu item 2" },
        new DropdownMenuItem { Text = "Menu item 3" },
        new DropdownMenuItem { Text = "Menu item 4" },
    };


    private string markup = @"public static string Html = ""html"";
public static string Markup = ""markup"";
public static string Xml = ""xml"";
public static string Svg = ""svg"";
public static string MathMl = ""mathml"";
public static string Rss = ""rss"";
public static string Css = ""css"";
public static string Javascript = ""js"";
public static string Razor = ""razor"";
public static string Csharp = ""csharp"";
";

    private string syntax = @"<PureCode Text=""@markup"" Language=""@PureCode.Html"" />

<!-- optional caption -->
 <PureCode Text=""@markup"" Language=""@PureCode.Html"" Caption=""Example""/>

@code
{
    private string markup = @""<PureButton Color=""PureColor.Primary"" Size=""PureSize.Small"">Small</PureButton>"";
}
";

    private string h1 = @"<PureText Type=""Typo.H1"">The quick brown fox jumps over the lazy dog.</PureText>";
}